<article class="post-card">
	{% if include.post.thumbnail %}
		<img src="/assets/images/{{ post.thumbnail }}" class="card-img">
	{% else %}
		<img src="/assets/images/missing-image-placeholder.jpg" class="card-img">
	{% endif %}
	<div class="post-card-content">
		<h3>
			{{ include.post.title | escape }}
		</h3>
		<span class="date">{{ include.post.date | date: date_format }} | </span>
		<span class="tags">
			{% for tag in include.post.tags %}
				{% include tag.html tag=tag %}
			{% endfor %}
		
		</span>
		<p>{{ include.post.description }}</p>
	</div>
	<div style="padding-bottom: 5px; margin : 5px 12px;">
		<div class="arrow-button-medium">
			<a href="{{ post.url | relative_url }}">Read More</a>
			<i class="fa fa-arrow-right" aria-hidden="true"></i>
		</div>
	</div>
</article>