{% assign main_tag = include.post.tags[0] %}
{% assign bar_color = site.data.tags[main_tag].color | default: "#3498db" %}
<article class="post-card" style="--card-bar: {{ bar_color }};">
	{% if include.post.thumbnail %}
		<img src="/assets/images/{{ post.thumbnail }}" class="card-img">
	{% else %}
		<img src="/assets/images/missing-image-placeholder.jpg" class="card-img">
	{% endif %}
	<div class="post-card-content">
		<h3>
			{{ include.post.title | escape }}
		</h3>
		<span class="date">{{ include.post.date | date: date_format }} | </span>
		<span class="tags">
			{% for tag in include.post.tags %}
			{% capture tag_name %}{{ tag }}{% endcapture %}
				<a href="/tag/{{ tag_name }}" class="tag">{{ tag_name }}</a>&nbsp;
			{% endfor %}
		
		</span>
		<p>{{ include.post.description }}</p>
	</div>
	<div class="has-text-centered" style="padding-bottom: 5px;">
		<a class="read-more-button" href="{{ post.url | relative_url }}">Read More</a>
	</div>
</article>