<div class="experience">
	<a href="{{ include.project.url | relative_url }}">
		<div class="experience-date">
			<img src="/assets/images/{{ include.project.thumbnail }}" class="experience-thumbnail" />
		</div>
		<div>
			<h4 class="experience-title">{{ include.project.title }}<i class="fa fa-angle-right" aria-hidden="true"></i></h4>
			<p class="experience-description">{{ include.project.description }}</p>
			<div class="tags">
				{% for tag in include.project.tags %}
					{% include tag.html tag=tag %}
				{% endfor %}
			</div>
		</div>
	</a>
</div>