<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-profile">
    <div class="sidebar-profile-box">
      <div class="sidebar-profile-avatar">NS</div>
      <div class="sidebar-profile-info">
          <h2>Nicolas Schneider</h2>
          <p>Associate Lead Programmer</p>
      </div>
    </div>
  </div>
  <div class="sidebar-divider"></div>
  <nav class="sidebar-nav">
    <ul>
      <li><a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a></li>
      <li><a class="sidebar-nav-item{% if page.title == 'Blog' %} active{% endif %}" href="{{ '/' | absolute_url }}blog.html">Blog</a></li>
      <li><a class="sidebar-nav-item{% if page.title == 'Projects' %} active{% endif %}" href="{{ '/' | absolute_url }}projects.html">Projects</a></li>
      <li><a class="sidebar-nav-item{% if page.title == 'About Me' %} active{% endif %}" href="{{ '/' | absolute_url }}about_me.html">About Me</a></li>
    </ul>
  </nav>
  <div class="sidebar-divider"></div>
  <div class="sidebar-socials" style="align-items: normal; display: flex;">
    {% assign sm = site.data.social-media %}
    {% for entry in sm %}
    {% assign key = entry | first %}
    <div style="">
      {% if sm[key].id %}
      <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}" target="_blank"><i class="{{ sm[key].fa-icon }} fa-3x" style="color: {{ sm[key].color }}" aria-hidden="true"></i></a>
      {% endif %}
    </div>
  {% endfor %}
  </div>
  <div class="sidebar-divider"></div>
  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>