---
layout: default
---

<div class="post">
	<div class="image-container">
		<img src="../assets/images/{{page.thumbnail}}" style="margin-bottom: 20px;">
		{%- if page.title -%}
		<h1 class="top-left">{{ page.title }}</h1>
		{%- endif -%}
	</div>
	<div style="float: left; box-sizing:border-box; padding-right: 10px; width: 75%">
		<div class="box">
			{{ content }}
		</div>
	</div>
	<div style="float: left; box-sizing:border-box; padding-left: 10px; width: 25%">
		<div class="box" style=" margin-bottom: 20px;">
			<h3>Infos</h3>
			<ul style="font-size: 12px">
				{% if page.type == "school-project" %}
				{% if page.team %}
				{% if page.role %}
				<li>Role : {{ page.role | escape }}</li>
				{% endif %}
				{% endif %}
				{% if page.team %}
				<li>Team : {{ page.team | escape }}</li>
				{% else %}
				<li>Solo Project</li>
				{% endif %}
				
				{% if page.time %}
				<li>Time : {{ page.time | escape }}</li>
				{% endif %}
				{% endif %}
				
				{% if page.github %}
				<li>Repo : <a href="{{ page.github | escape }}">link</a></li>
				{% else if page.gitlab %}
				<li>Repo : <a href="{{ page.gitlab | escape }}">link</a></li>
				{% endif %}
			</ul>
		</div>
		<h2 class="post-list-heading">Related articles</h2>
		{% for post in site.posts %}
		{% assign found = false %}
		{% for tag in post.tags %}
		{% if page.tags contains tag %}
		{% assign found = true %}
		{% include post.html post = post%}
		{% break %}
		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
</div>