---
layout: default
---
<div class="wrapper">
	<!-- Posts -->
	{% if site.tags[page.tag].size > 0 %}
	<section>
		<div class="container">
			<div class="row">
				<div class="post-list">
				<h1>Posts about {{ page.tag }}</h1>
				<ul>
				{% for post in site.tags[page.tag] %}
				  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
				    {{ post.excerpt }}
				  </li>
				{% endfor %}
				</ul>
				</div>
				{% endif %}
			</div>
		</div>
	</section>

	<!-- Projects -->
	{% assign found = false %}
	{% for project in site.projects %}
		{% for tag in project.tags %}
			{% if tag == page.tag %}
				{% assign found = true %}
				{% break %}
			{% endif %}
		{% endfor %}
		{% if found %}
			{% break %}
		{% endif %}
	{% endfor %}

	{% if found %}
	<section>
		<div class="container">
			<div class="row">
				<h1>Project about {{ page.tag }}</h1>
				<ul>
				{% for project in site.projects %}
					{% assign found = false %}
					{% for tag in project.tags %}
						{% if tag == page.tag %}
						{% assign found = true %}
						<li><a href="{{ post.url }}">{{ project.title }}</a><br>
						{{ project.excerpt }}
						{% break %}
						</li>
						{% endif %}
					{% endfor %}
				{% endfor %}
				</ul>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
</div>